.load-container {
  .row {
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
.delete-button {
  padding: 30px 10px 0 !important;
}
.addon-select {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
