.auto-complete-result {
  border: 1px solid #b3b3b3;
  box-shadow: 1px 1px 10px #b5b5b5;
  max-height: 400px;
  overflow-y: scroll;
  width: 100%;
}

.auto-complete-item {
  padding: 10px;
  cursor: pointer;
}
