:host {
  --primary-color: #00d1b2;
  --primary-text-color: #fff;
  --default-text-color: #585858;
  --button-back-color: #0093f5;
  $primary: var(--primary-color)
}

* {
  //font-family: sans-serif;
}

$primary-color: #0093f5;

.ma-0 {
  margin: 0 !important;
}

.pa-0 {
  padding: 0 !important;
}

.primary {
  background: var(--primary-color) !important;
}

.q-card {
  border-radius: 4px;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #fff;

  .q-card-header {
    display: flex;
    border-bottom: 1px solid #f2f2f2;
  }

  .q-header-step-number {
    background: var(--primary-color);
    color: var(--primary-text-color);
    padding: 10px 10px;
  }

  .q-header-step-content {
    line-height: 2em;
    font-weight: 500;
    color: var(--default-text-color);
    padding: 5px 20px;
    flex: 1;
  }

  .q-header-button {
    padding: 10px;
  }

  .q-card-body {

    padding: 20px;
  }

  .q-card-footer {
    border-top: 1px solid #d8e5ef;
  }
}


//general
.default-btn {
  background: #e8e8e8;
}

.cursor-pointer {
  cursor: pointer;
}

.display-grid {
  display: grid;
}

.full-width {
  width: 100%;
}


.delete-icon {
  margin-top: 30px;
  margin-left: 20px;
}

.additional-detail-checkbox {
  padding-top: 15px;
}

.text-center {
  text-align: center;
}

.confirmation-modal {
  padding: 30px;
}

p {
  font-size: 14px;
  text-align: center;
  color: var(--default-text-color);
}

h3 {
  color: var(--default-text-color);
  text-align: center;
}

.unfocused-btn {
  background: #d4d4d4;
}

// bulma override
.label {
  font-size: 12px !important;
  color: #7d7d7d !important;
  white-space: pre !important;
}
//
//.select.is-fullwidth select {
//  width: 95% !important;
//}

//.select select:not([multiple]) {
//  padding-right: 0;
//}

.addon-select {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

//.select:not(.is-multiple):not(.is-loading)::after, .navbar-link:not(.is-arrowless)::after {
//  //border: 2px solid transparent !important;
//  border-radius: 1px;
//  height: 0.300em !important;
//  margin-top: -0.075em !important;
//  width: 0.300em !important;
//}

.modal-section-title {
  margin-top: 25px;
  font-weight: bold;
  color: #7d7d7d;
}

.modal-section-description {
  width: 50%;
  text-align: center;
  margin: 20px auto;
  font-size: 12px;
}

.modal-card-body {
  border-radius: 16px !important;
}

.radio-field {
  margin-top: 22px;
  margin-left: 15px;

  label {
    font-size: 12px !important;
    color: #7d7d7d !important;
    font-weight: bold;
  }
}

.account-radio {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 40px !important;
}

.q-alert {
  position: fixed;
  right: -600px;
  width: 400px;
  background: #00d1b2;
  color: #fff;
  padding: 30px;
  border-radius: 5px;
  top: 30px;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: 99999;
}
.q-alert-active {
  right: 0 !important;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.q-alert-error {
  background: #d16b5d !important;
}
.semi-transparent {
  opacity: 0.5;
}
.opacity-1{
  opacity: 1 !important;
}
