<div [ngStyle]="{'padding.px': is_prod ? 0 : 100, 'background-color': is_prod ? 'none': '#f2f2f2'}">

  <!--load detail-->
  <div class="q-card">
    <div class="q-card-header">
      <div class="q-header-step-number">1</div>
      <div class="q-header-step-content">Let us know something about your shipment</div>
      <div class="q-header-button">
        <div class="field">
          <input id="extendedViewSwitch" type="checkbox" class="switch is-rtl is-rounded is-outlined"
                 [(ngModel)]="quotation.is_simplified">
          <label for="extendedViewSwitch" class="label">I have more information.</label>
        </div>
      </div>
    </div>
    <div class="q-card-body">
      <div class="columns is-desktop is-multiline">
        <div class="column is-6">
          <div class="field">
            <label class="label">What type of shipment are you shipping? *</label>
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <select [(ngModel)]="quotation.shipment_type"
                        (ngModelChange)="loadTypeChanged($event)">
                  <option *ngFor="let load_type of load_types"
                          [value]="load_type.value">{{load_type.viewValue}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-4">


          <div class="field">

            <label>Calculate by</label>
            <input class="is-checkradio" id="exampleRadioInline1" type="radio" name="same" value="cbm"
                   [(ngModel)]="quotation.calculate_load_by">
            <label for="exampleRadioInline1">CBM</label>
            <input class="is-checkradio" id="exampleRadioInline2" type="radio" name="same" value="lwh"
                   [(ngModel)]="quotation.calculate_load_by">
            <label for="exampleRadioInline2">LWH</label>
          </div>


          <!--          <div class="field">-->
          <!--            <input class="is-checkradio" id="exampleRadioInline1" type="radio" name="exampleRadioInline" checked="checked">-->
          <!--            <label for="exampleRadioInline1">Option 1</label>-->
          <!--            <input class="is-checkradio" id="exampleRadioInline2" type="radio" name="exampleRadioInline">-->
          <!--            <label for="exampleRadioInline2">Option 2</label>-->
          <!--          </div>-->
        </div>


      </div>

      <div class="columns is-desktop is-multiline">
        <div class="column is-12">
          <quotation-load [(loads)]="quotation.fcls" [quotation]="quotation"></quotation-load>
          <quotation-load [(loads)]="quotation.lcls" [quotation]="quotation"></quotation-load>
          <quotation-load [(loads)]="quotation.details" [quotation]="quotation"></quotation-load>
          <quotation-load [(loads)]="quotation.ftls" [quotation]="quotation"></quotation-load>
          <quotation-load [(loads)]="quotation.ltls" [quotation]="quotation"></quotation-load>
        </div>

        <div class="column is-12">
          <button class="button is-light " (click)="addLoad()" [disabled]="!quotation.shipment_type">
            + Add new Load
          </button>
        </div>
      </div>

    </div>
    <div class="q-card-footer">
    </div>
  </div>
  <!--load detail ends here-->


  <!--location detail-->


  <div class="q-card">
    <div class="q-card-header">
      <div class="q-header-step-number">2</div>
      <div class="q-header-step-content">From where to where?</div>
    </div>
    <div class="q-card-body">
      <quotation-location [quotation]="quotation"></quotation-location>
    </div>
  </div>


  <!--advanced detail-->
  <div *ngIf="quotation.shipment_type">
    <div class="q-card">
      <div class="q-card-header">
        <div class="q-header-step-number">3</div>
        <div class="q-header-step-content">Additional Details (optional)</div>
      </div>
      <div class="q-card-body">

        <div class="columns">
          <div class="column is-12">
            <label class="checkbox">
              <input type="checkbox" [(ngModel)]="quotation.additional_details.is_hazardous">
              Is Hazardous ?
            </label>
          </div>
        </div>

        <div class="columns is-multiline">
          <div class="column is-12">
            <label class="checkbox">
              <input type="checkbox" [(ngModel)]="quotation.additional_details.need_refrigeration">
              Need Refrigeration ?
            </label>
          </div>

          <div class="column is-6" *ngIf="quotation.additional_details.need_refrigeration">
            <label class="label">Temperature</label>
            <div class="field has-addons">
              <p class="control is-expanded">
                <input class="input " type="text" [(ngModel)]="quotation.refrigeration.temperature"
                       placeholder="Temperature">
              </p>
              <p class="control">
              <span class="select ">
                <select class="addon-select" [(ngModel)]="quotation.refrigeration.unit">
                  <option *ngFor="let unit of refrigeration_unit_items"
                          [value]="unit.value">{{unit.viewValue}}</option>
                </select>
              </span>
              </p>
            </div>
          </div>
        </div>

        <div class="columns is-multiline">
          <div class="column is-12">
            <label class="checkbox">
              <input type="checkbox" [(ngModel)]="quotation.additional_details.need_insurance">
              Need Insurance ?
            </label>
          </div>

          <div class="column is-6" *ngIf="quotation.additional_details.need_insurance">
            <label class="label">Amount</label>
            <div class="field has-addons">
              <p class="control is-expanded">
                <input class="input " type="text" [(ngModel)]="quotation.good_value.amount"
                       placeholder="Amount">
              </p>
              <p class="control">
              <span class="select ">
                <select class="addon-select" [(ngModel)]="quotation.good_value.currency">
                  <option *ngFor="let currency of currencies"
                          [value]="currency.value">{{currency.viewValue}}</option>
                </select>
              </span>
              </p>
            </div>
          </div>
        </div>


        <div class="columns">


          <div class="column is-6">
            <div class="field">
              <div class="control">
                <input class="input " type="text" [(ngModel)]="quotation.additional_details.remark"
                       placeholder="Remark">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--advanced detail ends here-->

  <button (click)="getQuote()" class="button semi-transparent is-primary ma-0"
          [disabled]="!(quotation && quotation.shipment_type && quotation.origin.location && quotation.destination.location)"
          [ngClass]="{'opacity-1': quotation && quotation.shipment_type && quotation.origin.location && quotation.destination.location}"
  >
    Get Quote
  </button>
</div>


<!--Confirmation modal-->

<!--confirmation modal ends here-->


<div class="modal" [ngClass]="{'is-active':modal_activated}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <div class="q-card">
      <div class="q-card-body">
        <div class="columns is-desktop is-multiline">
          <div class="column is-12 account-radio">
            <div class="field radio-field">
              <label class="modal-title">Do you have account
                with {{organisation_title | uppercase}}</label>
              <input class="is-checkradio" id="haveaccountradio" type="radio" name="have_account" value="yes"
                     [(ngModel)]="has_account">
              <label for="haveaccountradio">Yes, I have account</label>
              <input class="is-checkradio" id="haveaccountradio1" type="radio" name="have_account" value="no"
                     [(ngModel)]="has_account">
              <label for="haveaccountradio1">No, I don't have account</label>
            </div>


          </div>
        </div>
        <div *ngIf="has_account === 'yes'">

          <div class="columns is-centered  is-desktop is-multiline user-form">

            <div class="column is-6 label">
              Log in with your {{userMetaService.organisation_id | uppercase}} account
            </div>

            <div class="column is-6">
              <div class="field">
                <label class="label">Email *</label>
                <div class="control">
                  <input class="input " type="email" [(ngModel)]="temp_user.email">
                </div>
              </div>
            </div>

            <div class="column is-6">
              <div class="field">
                <label class="label">Password *</label>
                <div class="control">
                  <input class="input " type="password" [(ngModel)]="temp_user.password">
                </div>
              </div>
            </div>

            <div class="column is-6">
              <button class="button is-primary" (click)="loginAndSend()">Login and Get Quote</button>
            </div>

          </div>
        </div>

        <div *ngIf="has_account === 'no'">
          <div class="columns is-desktop is-centered  is-multiline">
            <div class="column is-6 label">
              A few contact details, and we will get back to you
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Name *</label>
                <div class="control">
                  <input class="input " type="text" [(ngModel)]="quotation.guest_detail.name">
                </div>
              </div>
            </div>

            <div class="column is-6">
              <div class="field">
                <label class="label">Email *</label>
                <div class="control">
                  <input class="input " type="email" [(ngModel)]="quotation.guest_detail.email">
                </div>
              </div>
            </div>


            <div class="column is-6">
              <div class="field">
                <label class="label">Organisation *</label>
                <div class="control">
                  <input class="input " type="text" [(ngModel)]="quotation.guest_detail.organisation">
                </div>
              </div>
            </div>

            <div class="column is-6">
              <div class="field">
                <label class="label">Contact Number *</label>
                <div class="control">
                  <input class="input " type="text" [(ngModel)]="quotation.guest_detail.contact_number">
                </div>
              </div>
            </div>

            <div class="column is-6">
              <button class="button is-primary" (click)="guestSend()">
                Get Quote
              </button>
            </div>
          </div>
        </div>


      </div>
      <div class="q-card-footer">
      </div>
    </div>
  </div>
  <button class="modal-close is-small" aria-label="close" (click)="modal_activated = false"></button>
</div>


<div class="q-alert " [ngClass]="{'q-alert-active': alert.show_alert, 'q-alert-error': alert.alert_type === 'error'}">
  <div [innerHTML]="alert.message"></div>
</div>


